{% load static %}

        <nav>
            <div>
                <div>
                    <div>
                        <div class="flex">
                            <img class="h-12 w-12" src="{% static 'app/images/balls.png' %}" alt="logo"/>
                            <span class="text-3xl">Магазин Мальчиков Спальчиков</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <h4>
            {% for item in items %}
            <a href="{% url 'app:detail' item.id %}">
           ID: {{item.id}} | Имя: {{item.name}} | Цена: {{item.price}} |Описание: {{item.description}} <br/>
            </a>
            {% endfor %}
        </h4>
